<!DOCTYPE html>
<html ng-app="artQuiz" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DD ART QUIZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Main app script -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers/factList.js"></script>
    <script src="javascripts/controllers/quiz.js"></script>
    <script src="javascripts/controllers/results.js"></script>
    <script src="javascripts/factories/quizMetrics.js"></script>
    <script src="javascripts/factories/dataService.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>ART QUIZ</h1>
        <h2>WHAT DO YOU KNOW ABOUT ART?</h2>
      </div>
      <!-- Artist List Controller -->
      <div ng-controller="factlistCtrl as list"
        ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">
        <form class="form-inline well well-sm clearfix">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" placeholder="Search artist..."
            class="form-control"
            ng-model="list.search">
          <button class="btn btn-warning pull-right"
            ng-click="list.activateQuiz()">
            <strong>START QUIZ</strong>
          </button>
        </form>

        <div class="row">
          <div class="col-sm-6" ng-repeat="fact in list.data | filter:list.search">
            <div class="well well-sm">
              <div class="row">
                <div class="col-md-6">
                  <img ng-src="{{fact.artwork_img_url}}" class="img-rounded img-responsive well-image">
              </div>
              <div class="col-md-6">
                <h4>{{fact.artist}}</h4>
                <p><strong>Style: </strong>{{fact.artist_description}}</p>
                <p><a ng-href={{fact.wiki_url}}><strong>Artist Wiki</strong></a></p>
                <button class="btn btn-primary pull-left"
                  data-toggle="modal"
                  data-target="#artist-info"
                  ng-click="list.changeActiveArtist(fact)">
                  LEARN MORE
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="artist-info">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3>{{list.activeArtist.artist}}</h3>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                    <img ng-src="{{list.activeArtist.artwork_img_url}}"
                      class="img-rounded img responsive well-image">
                  </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1">
                    <p><strong>Style: </strong>{{list.activeArtist.artist_description}}</p>
                    <p><a ng-href={{list.activeArtist.wiki_url}}><strong>Artist Wiki</strong></a></p>
                    <p><strong>Summary: </strong>{{list.activeArtist.artist_summary}}</p>
                    <br/>
                    <button class="btn btn-danger pull-left"
                      data-dismiss="modal">
                      CLOSE
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Art Quiz Controller -->
    <div class="container">
      <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
        <div class="row">
          <div class="col-xs-8">
            <h4>PROGRESS</h4>
            <div class="btn-toolbar">
              <button class="btn"
                ng-repeat="question in quiz.dataService.quizQuestions"
                ng-class="{'btn-info': question.selected !== null,
                  'btn-danger': question.selected === null}"
                ng-click="quiz.setActiveQuestion($index)">
                <span class="glyphicon"
                  ng-class="{'glyphicon-pencil': question.selected !== null,
                    'glyphicon-question-sign': question.selected === null}">
                </span>
              </button>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <h4>LEGEND</h4>
                <div class="col-sm-4">
                  <button class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <p>ANSWERED</p>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                  <p>UNANSWERED</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="alert alert-danger"
            ng-show="quiz.error">
            You haven't answered all the questions yet...
            <button class="close" ng-click="quiz.error = false">
              &times
            </button>
          </div>
          <!-- Questions -->
          <div class="well well-sm" ng-hide="quiz.finalize">
            <h4 style="text-align:left;">QUESTION</h4>
            <h4>{{quiz.activeQuestion + 1
              + ". "
              + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}
            </h4>
            <div class="row"
              ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
              <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                <h4 class="answer"
                  ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                  ng-click="quiz.selectAnswer($index)">
                  {{answer.answer}}
                </h4>
              </div>
            </div>
            <div class="row"
              ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'">
              <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                <div class="image-answer"
                  ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                  ng-click="quiz.selectAnswer($index)">
                  <img ng-src="{{answer.answer}}">
                </div>
              </div>
            </div>
            <button class="btn btn-info"
              ng-click="quiz.questionAnswered()">
              CONTINUE
            </button>
          </div>
        </div>
        <div class="well well-sm" ng-show="quiz.finalize">
          <div class="row">
            <div class="col-xs-12">
              <h3>Confirm and submit final answers?</h3>
              <button class="btn btn-success" ng-click="quiz.finalizeAnswers()">
                YES
              </button>
              <button class="btn btn-danger" ng-click="quiz.finalize = false">
                NO
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Results Controller -->
    <div class="container">
      <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
        <div class="row">
          <div class="col-xs-8">
            <h4>RESULTS</h4>
            <div class="btn-toolbar">
              <button class="btn"
                ng-repeat="question in results.dataService.quizQuestions"
                ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                ng-click="results.setActiveQuestion($index)">
                <span class="glyphicon" ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct }"></span>
              </button>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="row">
              <h4>LEGEND</h4>
                <div class="col-sm-4">
                  <button class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <p>CORRECT</p>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <p>INCORRECT</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12 top-buffer">
                <h3>YOUR SCORE: {{results.quizMetrics.numQuestionsCorrect}} / {{results.dataService.quizQuestions.length}}</h3>
                <h3><strong>{{results.calculatePercentage()}}%</strong></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>QUESTIONS</h3>
          <div class="well well-sm">
            <div class="row">
              <div class="col-xs-12">
                <h4>
                  {{results.activeQuestion + 1 + ". " +
                    results.dataService.quizQuestions[results.activeQuestion].text}}
                </h4>
                <div class="row">
                  <div class="col-sm-6"
                    ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                    <h4 class="answer"
                      ng-class="results.getAnswerClass($index)">
                      {{answer.answer}}
                      <p class="pull-right"
                        ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion]
                          && $index === results.dataService.quizQuestions[results.activeQuestion].selected">
                          YOUR ANSWER
                      </p>
                      <p class="pull-right"
                        ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">
                        CORRECT ANSWER
                      </p>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
